@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');



* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;

}

.top {
  padding: 1rem;
  text-align: center;
  background-color: rgb(54, 54, 54);
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget_title {
  color: white;
}

.budget_value {
  color: white;
}

.budget_value {
  font-size: 2rem;
  text-align: center;
  padding: 0.6rem;
}

.budget_income {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  height: 40px;
  padding: 10px 12px;
  border: none;
  background-color: rgb(15, 214, 188); 
}


.right {
  display: flex;
}

.budget_expenses {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  height: 40px;
  padding: 10px 12px;
  border: none;
  background-color: rgb(255, 66, 41); 
}



.add {
  background-color: cadetblue;
}

.container.clearfix {
  background-color: rgb(224, 224, 224);
}