@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');



* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;

}

.top {
  padding: 1rem;
  text-align: center;
  background-color: rgb(54, 54, 54);
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget_title {
  color: white;
}


.budget_value {
  font-size: 2rem;
  text-align: center;
  padding: 0.6rem;
  color: white;
}

.budget_income {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  height: 40px;
  padding: 10px 12px;
  text-transform: uppercase;
  border: none;
  background-color: rgb(15, 214, 188); 
}

.budget_income--percentage {
  margin-left: 10px;
  width: 38px;
  height: 24px;
  border-radius: 2px;
  background-color: rgb(15, 214, 188); 
  color: white;

}

.budget_income--value {
  color: white;
}

.budget_expenses--value {
  color: white;
}

.right {
  display: flex;
}

.budget_expenses {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  height: 40px;
  padding: 10px 12px;
  border: none;
  background-color: rgb(255, 66, 41); 
}

.budget_expenses--percentage {
  margin-left: 10px;
  width: 38px;
  height: 24px;
  border-radius: 2px;
  padding: 2px;
  background-color: rgb(255, 98, 87); 
  color: white;
  font-size: 17px;
  text-align: center;
}

.add {
  
  background-color: rgb(248, 248, 248);
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(230, 230, 230);
}



.add_type {
  width: 60px;
  height: 40px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px; 
  padding: 8px;
  font-size: 16px;
}

.add_description {
  font-family: 'Roboto Condensed', sans-serif;
  width: 350px;
  height: 40px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px; 
  padding: 8px;
  font-size: 16px;
}

.add_value {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100px;
  height: 40px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px; 
  padding: 8px;
  font-size: 16px;
}

button {
  font-size: 20px;
  background: transparent;
  border: none;
  text-decoration: none;
  color: black;
  display: inline-block;
  cursor: pointer;
}

.container.clearfix {
  display: flex;
  flex-direction: inline;
  justify-content: center;
}

.income {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.expenses {
  display: flex;
  flex-direction: column;

}


.income_title {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
  padding: 4px 6px;
  color: rgb(15, 214, 188);
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 300px;
  margin-bottom: 0;
}

.item.clearfix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 300px;
  padding: 8px;
}

.expenses_title {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
  padding: 4px;
  color: rgb(255, 66, 41); 
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 300px;
  margin-bottom: 0;
}

.item_percentage {
  margin: auto 8px ;
  width: 38px;
  height: 24px;
  border-radius: 2px;
  padding: 2px;
  background-color: rgb(255, 98, 87); 
  color: white;
  font-size: 17px;
  text-align: center;
}

.item-description {
  font-size: 0.8rem;
}